.chart {
    /* overflow: hidden !important; */
    /* width: 0% !important; */
    display: flex;
}

.wrap {
    width: min-content;
    margin-left: 10%;
    margin-top: 5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    /* vertical-align: baseline; */
    font-family: 'Electrolize', sans-serif;
}

body {
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 2%;
    line-height: 1;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: .5em 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #212121;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bar {
    background: #ff413d;
    /*width: 0px;*/
    /*margin: .25em 0;*/
    color: #fff;
    height: 60px;
    position: relative;
    vertical-align: middle;
}

.bar:nth-of-type(even) {
    background: #ff6461;
}

.labelstack {
    text-align: center;
    display: inline-flex;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
    top: 1em;
    padding: .15em;
    position: absolute;
    margin-left: 40%;
}

.label {
    font-size: .75em;
    padding: 1.5em;
    background: #212121;
    width: 7em;
    /* display: inline-block; */
    position: static;
    z-index: 2;
    font-weight: bold;
    color: #fff;
}

.count,
.countx {
    position: absolute;
    right: .5em;
    top: 1.5em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
}